.containerCheckListCHDimensioni {
    background-color: rgb(224, 224, 224);
    margin:15px;
}
.bottone_check_list {
 
    margin-top: 20px;
    background-color: rgb(169, 169, 169);
    height: 40px;
}

.tabellaCH {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #0c0b0b;
    padding: 4px;
    text-align: center;
    font-size: 14px;
    
  }
  
  th {
    background-color: #a7f586;
  }
