.containerCheckListPanierView {
    display: flex;
    justify-content: center;
     background-color: rgb(252, 218, 184);
     margin:10px;
     
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
 }
 .bottonePanier {
     background-color: rgb(201, 196, 195);
     height: 40px;
 }
 
 .tabellaPanier {
     
     
     margin: 10px;
 }