.containerOperatore {
    background-color:#dbdad5;
    margin:5px ;
    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}
h2 {
    text-align: center;
}

.containerOperatoreCH {
    display: flex;
    justify-content: center;
    background-color: rgb(136, 137, 135);
    margin:20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}

.inputBoxOperatoreCH {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}
.containerOperatorePanier {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 235, 201);
    margin:20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}

.inputBoxOperatorePanier {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin: 20px;
}
.inputBoxOperatore {
    font-size: 15px;
    font-weight: 200;
    margin: 17px;
    
}
