.tipologiaBody {
    background-color: rgb(206, 211, 211);
    margin:10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Aggiungi ombra al lato destro e in basso */
}

.select_tipologia {
    margin: 5px;
    font-size: 15px;
    text-align: center;
}